.header{
    height:80px;
    background-color: #f9f261;
}
.header2{
    height:40px;
    background-color:gray;
    position:absolute;
}
#plus{
    width:60px;
    font-size: 25px;
    background-color: white;
    color:gray;
    border:2px gray;
    border-radius: 5px;
    display:block;
    margin:0 auto;
    margin-top:15px;

}
.inputbox{
    height: 350px;
    width:900px;
    background-color:gainsboro;
    border:1px gray;
    border-radius:10px;
    top:80px;
    position:absolute;
    margin-left:310px;
    display:none;
}
.textfield{
    height:80px;
    width:840px;
    margin-left:32px;
    margin-top:25px;

}
#submit{
    color:gray;
    background-color: white;
    margin-top:20px;
    margin-left:382px;

}
#cancel{
    color:gray;
    background-color:white;
    margin-top:10px;
    margin-left:10px;
}
.output{
    height:80px;
    width:80%;
    border:1px solid gray;
    margin-top:-80px;
    color:gray;
    box-shadow: 3px 3px;
    margin-left:80px;

}
.checkdiv{
    height:80px;
    width:40px;
    background-color:#f9f261;
    margin-left:34px;
    margin-top:18px;
    display:inline-block;
}
.editable{
    height:50px;
    width:60%;
    margin:0 auto;
    border:1px solid gray;
    background-color:#f9f261;
    /*display:none;*/
    /*margin-top:79px;*/
}
.delete{
    height:40px;
    width:30px;
    margin-left:58px;

}

.edit{
    height:40px;
    width:30px;
    margin-left:290px;

}
.btns{
    margin-left:20px;
    margin-top:5px;
    width:100px;
    color:gray;
    background-color:#f9f261;
    border:1px gray;
}



