<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angulartodo</title>
    <link rel="stylesheet" href="../css/todoapp.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body ng-app="app" ng-controller="cont">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 header">
            <button id="plus" ng-click="btnplus()">+</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 header2"></div>
        <div class="col-lg-4 header2">
            <button class="btns" id="all ">All</button>
            <button  class="btns"id="active" >Active</button>
            <button class="btns" id="completed">Completed</button>
        </div>
        <div class="col-lg-4 header2"></div>
    </div>
</div>
<div class="inputbox">
    <textarea ng-model="text" class="textfield"></textarea>
    <button id="submit" ng-click="btnsubmit()">Submit</button>
    <button id="cancel" ng-click="btncancel()">Cancel</button>
</div>
<div class="container">
    <div id="outputdiv" ng-repeat="data in alltext">
<div class="subdiv">
    <div class="checkdiv"><input type="checkbox" class="cbox">
    </div>
    <div class="output" ng-click="editdel()">{{data}}</div>
</div>
    </div>
    <div class="editable" ng-show="change">
    <img class="edit" src="../image/edit.png">
    <img class="delete" src="../image/delete.png">


    </div>
</div>
 





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../js/angulartodo.js"></script>
</body>
</html>